<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
<!-- header section -->
<section class="banner" role="banner">
  <header id="header">
    <div class="header-content clearfix"> <a class="logo" href="#"><%=image_tag("44_44.png")%></a> 
      <!-- navigation section  -->
      <nav class="navigation" role="navigation">
        <ul class="primary-nav">
          <li><a href="#banner">Home</a></li>
          <li><a href="#overview">Overview</a></li>
          <li><a href="#features">Features</a></li>
          <!--<li><a href="#screens">Screenshots</a></li>-->
          <li><a href="#download">Download</a></li>
          <!--<li><a href="#contact">Contact</a></li>-->
        </ul>
      </nav>
      <a href="#" class="nav-toggle">Menu<span></span></a> </div>
    <!-- navigation section  --> 
  </header>
  <!-- banner text section-->
  <div id="banner" class="container">
    <div class="col-md-6 col-sm-12">
      <div class="banner-text">
        <h1>知らない相手だからこそ、気楽に話せる</h1>
        <p>聞き上手の方と、相談したい方を繋ぐ相談アプリ</p>
        <div class="banner-btn"><a href="#"><%= image_tag 'apple-store-btn.png' %></a> <a href="#"><%= image_tag 'google-store-btn.png' %></a> </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12"> 
      <div class="banner-text">
        <%= image_tag 'fullfiiのコピーのコピー.png', class: "banner-img img-responsive"%>
        </div>
      </div>
      <!-- banner text section--> 
  </div>
</section>
<!-- header section --> 
<!-- overview section -->
<section id="overview" class="section overview">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h2 class="section-title">今、話をきいてほしいけど、友達に相談しづらいな...</h2>
        <p class="section-intro">時間が合わない、負担をかけたくない、自分と状況が違うので共感してもらえない、他の友人にばらされないか心配、等の理由で、友達に相談しづらいと思うことがあると思います。だけど、誰かに共感してほしい、誰かに聞いてほしいと思ったことありませんか？</div>

    </div>
  </div>
</section>
<!-- overview section --> 
<!-- feature section 1 -->
<section id="features" class="section features2">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h2 class="section-title">悩みがある人と、聞き上手の方を繋ぐ相談アプリ<span><ruby><rb>「fullfii」</rb><rp>（</rp><rt>フルフィー</rt><rp>）</rp></ruby></span></h2>
        <p class="section-intro">今すぐ誰かに話したい方、聞き上手をもっと人のために活かしたい方を繋ぎ、すぐに相談出来る環境を作り出します</p>
      </div>
    </div>
    <div class="row features1-content-space">
      <div class="col-md-4 col-sm-12">
        <div class="features1-content middle"> 
          <%= image_tag '1.png', class: "img-responsive"%>
                    <h4 class="text-center">相談内容はアプリ上に残りません</h4>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 "> 
        <div class="features1-content middle">
          <%= image_tag '2.png', class: "img-responsive"%>
                    <h4 class="text-center">相談は電話とチャット対応</h4>
        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <div class="features1-content middle">
          <%= image_tag '3.png', class: "img-responsive"%>
                    <h4 class="text-center">相談者がお金を支払い、聞き手が受け取ります</h4>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="features" class="section features1">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h2 class="section-title">使い方</h2>
        <p class="section-intro">相談者は好みの聞き手を選んで、チャットor電話で相談し、30分500円を支払います。聞き手は対価として2～6割を受け取ります</br>※基本一分間17円です。資格保有や聞く回数がアプリ内で多い方は一分間の単価が上がる仕組みです※</p>
      </div>
    </div>
    <div class="row features1-content-space">
      <div class="col-md-4 col-sm-12">
        <div class="features1-content middle"> 
          <h4>➀</br>相談者:悩みを話したい方を選びます</br>聞き手:事前に登録します</h4>
          <%= image_tag '聞き上手一覧.png', class: "img-responsive"%>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 "> 
        <div class="features1-content middle">
          <h4>➁</br>相談者と聞き手はチャットor電話で悩みを話します</h4>
          <%= image_tag '相談画面.png', class: "img-responsive"%>
        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <div class="features1-content middle">
          <h4>➂</br>相談者:分数×単価＋ポジティブな気分で満たされた分、アプリ内ポイントを聞き手に送ります</br>聞き手:お礼としてアプリ内ポイントを得ることができます</h4>
          <%= image_tag '相談終了画面.png', class: "img-responsive"%>
          ※アプリ内ポイントは課金で入手し、実際に換金できます
        </div>
      </div>
    </div>
  </div>
</section>
<!-- feature section 1 --> 

<!-- feature section 2 -->
<section id="features" class="section features2">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h2 class="section-title">あなたに提供できる価値</h2>
        <p class="section-intro">相談するときに感じる壁はなんですか？fullfiiならその壁を解決できるはずです</p>
      </div>
    </div>
    <div class="row features1-content-space">
      <div class="col-md-4 col-sm-12">
        <div class="features1-content middle"> 
          <h4>相談者は躊躇することなくすぐ相談出来る</h4>
          <p>友達に相談するときには「こんな夜遅くの時間にかけて迷惑かな...」「時間奪っちゃうの申し訳ないかな」と思うかもしれませんが、心配ありません。相手も悩みを聞きたい方です。面識がないからこそ、変に気を使う必要がありません。軽い気持ちで相談できます。</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 "> 
        <div class="features1-content middle">
          <h4>相談者は悩み解決のヒントが得られる</h4>
          <p>悩みを解決するヒントが欲しいですか？聞き手は問題解決のプロではありません。そのため、明確な解決策を得ることは難しいかもしれません。しかし、あなたの悩みを経験した方に話すことで、ヒントは得られるでしょう。</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <div class="features1-content middle">
          <h4>相談者は共感してもらえる</h4>
          <p>特に恋愛で悩む方は解決策というより、同じ悩みを持つ人と話し、共感してもらいたいと思う方が多いかもしれません。同じ悩みを持つ人があなたの周りにいなくても、ここにはいるはずです。</p>
        </div>
      </div>
    </div>
    
    <div class="row features1-content-space">
      
      <div class="col-md-4 col-sm-12">
        <div class="features1-content middle"> 
          <h4>相談者は話すことで、スッキリする</h4>
          <p>友達に相談しようとしたが、時間が合わずまた別日に相談しようとする方は多いと思います。ただ、悩みを話すことで、話す前に比べてモヤモヤは晴れるはずです。少しでもポジティブな気分で明日を迎えることができるはずです。</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 "> 
        <div class="features1-content middle">
          <h4>聞き手は、聞き上手を多くの人ために活かすことができる</h4>
          <p>聞き上手が自分の強みであることを知っていても直接活かせる機会がない方が多いです。ここでは、聞き上手という強みを悩んでいる人のために活かすことができれば、多くのありがとうを得ることができます。</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <div class="features1-content middle">
          <p><%=image_tag("名称未設定のコピー (1).png")%></p>
        </div>
      </div>
      
    </div>
  </div>
</section>
<!-- feature section 2 --> 

<!-- feature section 3 -->
<section id="features" class="section features3">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h2 class="section-title">fullfii特有の価値</h2>
        <p class="section-intro">既存の相談系アプリやサービスとの違い</p>
      </div>
      <div class="col-md-6">
        <div class="features2-content">
          <h2 class="section-title">出会い系のマッチングアプリではない</h2>
          <p>出会い系ではないため、相談者は自分の顔写真や年齢等の個人情報を記入する必要がありません。</p>
        </div>
        
      </div>
      <div class="col-md-6"> <div class="features2-content">
        <h2 class="section-title">聞き手側は、聞き上手という強みで対価を得ることができる</h2>
        <p>友達に「○○には話しやすい」と言われる方や、相談を受ける回数が多い聞き上手の方が、相談者のモヤモヤを少しでも晴らすことができた分、対価を得ることができる。</p>
      </div>
    </div>
    </div>
  </div>
</section>
<!-- feature section 3 --> 

<!-- screen shots slider section
<section id="screens" class="section screens">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h2 class="section-title">ページのスクリーンショットの一部 </h2>
        <p class="section-intro"></p>
      </div>
    </div>
  </div>
  -->
  <!-- owl-carousel starts 
  <div id="owl-demo" class="owl-carousel">
    <div class="item"><img src="images/マイページ.png"></div>
    <div class="item"><img src="images/メッセージ送信画面.png"></div>
    <div class="item"><img src="images/検索画面.png"></div>
    <div class="item"><img src="images/手紙画面.png"></div>
    <div class="item"><img src="images/相談画面.png"></div>
    <div class="item"><img src="images/相談終了画面.png"></div>
    <div class="item"><img src="images/聞き上手一覧.png"></div>
    <div class="item"><img src="images/聞き上手選択画面.png"></div>

  </div>-->
  <!-- owl-carousel starts 
</section>--> 
<!-- screen shots slider section --> 

<!--subscribe section -->
<section id="download" class="section subscribe">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h2>twitter登録宜しくお願いします！</h2>
        <p>ここまで読んでいただきありがとうございます。未だアプリは開発段階です。使いたいと思っていただいた方は、twitterの登録をお願いします。こういう機能が欲しい！など、意見、質問大歓迎です。より使いたいと思えるアプリとなるよう参考にさせていただきます。
        </p>
        <!-- <div  class="banner-btn"> <a href="#"><img src="images/apple-store-btn.png"></a> <a href="#" class="banner-btn"><img src="images/google-store-btn.png"></a></div> -->
        <div  class="banner-btn"><div class="banner-btn"><a href="https://twitter.com/fullfiiOfficial"><%= image_tag 'twitter.png' %></a> </div></div>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center subscribe-form">
        <h3 class="subscribe-title">Stay informed with our newsletter</h3> -->
        <!-- subscribe form 
        <form method="post" action="php/subscribe.php" name="subscribeform" id="subscribeform">
          <input type="text" name="email" placeholder="Enter your email address to get notified" id="subemail" />
          <input type="submit" name="send" value="Notify me" id="subsubmit" class="btn2" />
        </form>-->
        <!-- subscribe message 
        <div id="mesaj"></div>-->
        <!-- subscribe message  
      </div>-->
      <!-- subscribe form --> 
    </div>
  </div>
</section>
<!--subscribe section --> 

<!--contact section

<section id="contact" class="section text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 ">
        <h2 class="section-title">Get In Touch <span>Say Hello!</span></h2>
        <p class="section-intro">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae. </p>
      </div>
    </div> -->
    
    <!--contact form start
    <div class="col-md-6 col-md-offset-3 conForm">
      <div id="message"></div>
      <form method="post" action="php/contact.php" name="cform" id="cform">
        <input name="name" id="name" type="text" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" placeholder="Your name..." >
        <input name="email" id="email" type="email" class=" col-xs-12 col-sm-12 col-md-12 col-lg-12 noMarr" placeholder="Email Address..." >
        <textarea name="comments" id="comments" cols="" rows="" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" placeholder="Project Details..."></textarea>
        <input type="submit" id="submit" name="send" class="submitBnt" value="Send">
        <div id="simple-msg"></div>
      </form>
    </div>-->
    <!--contact form end
  </div>
</section>--> 

<!--contact section --> 
<!-- footer section-->
<footer class="section footer">
  <div class="footer-bottom">
    <div class="container">
      <div class="col-md-12">
        <p>
        <ul class="footer-share">
          <!--<li><a href="#"><i class="fa fa-facebook"></i></a></li>--> 
          <li><a href="https://twitter.com/fullfiiOfficial"><i class="fa fa-twitter"></i></a></li>
          <!--<li><a href="#"><i class="fa fa-instagram"></i></a></li>--> 
          <!--<li><a href="#"><i class="fa fa-youtube-play"></i></a></li>--> 
          <!--<li><a href="#"><i class="fa fa-vimeo"></i></a></li>--> 
        </ul>
        </p>
        <p>© Copyright © 2015 Rooky Inc. All Rights Reserved. Made with <i class="fa fa-heart pulse"></i> by <a href="http://www.designstub.com/">Designstub</a></p>
      </div>
    </div>
  </div>
</footer>
<!-- footer section--> 
<!-- Include JS files --> 

</body>
</html>