<!DOCTYPE html>
<html>
<head>
  <title>We're sorry, but something went wrong (500)</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body class="rails-default-error-page">
<section class="banner" role="banner">
  <header id="header">
    <div class="header-content clearfix"> 
      <%= link_to root_path do %>
        <%= image_tag "44_44.png", class: "logo"%>
      <%end%>
      <!-- navigation section  -->
      <nav class="navigation" role="navigation">
        <ul class="primary-nav">
          <li><%= link_to "トップページ", root_path %></li>
          <li><%= link_to "利用規約・プライバシーポリシー・特定商取引法に基づく表示", pages_privacy_path %></li>
          
        </ul>
      </nav>
      <a href="#" class="nav-toggle">Menu<span></span></a> </div>
    <!-- navigation section  --> 
  </header>
  <!-- banner text section-->
  <div id="banner" class="container">
    <div class="col-md-6 col-sm-12">
      <div class="banner-text ">
        <h1>ネットワークエラーです（500）</h1>
        <p>通信状況が悪い可能性があります。時間をおいて再度お試しください</p>
        <p><%= link_to "Fullfiiの公式Twitter", "https://twitter.com/fullfiiOfficial/status/1296074470205972480"%></p>
      </div>
    </div>
    <div class="col-md-6 col-sm-12"> 
      <div class="banner-text">
        <%= image_tag 'error_woaman.png', class: "banner-img img-responsive"%>
        </div>
      </div>
      <!-- banner text section--> 
  </div>
</section>
  <!-- This file lives in public/404.html -->
 
</body>
</html>
