<!DOCTYPE html>
<html>
  <head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-GSGY49WT63"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-GSGY49WT63');
</script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= display_meta_tags(default_meta_tags)%>
    <meta name="google-site-verification" content="KJ4w8wgjaTLcJFpKFu5NO2kXMGORqBT9Hj-41pVf3Ok" />
  </head>

  <body>
    <%= yield %>
  </body>

</html>
