<!DOCTYPE html>
<html>
  <head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-GSGY49WT63"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-GSGY49WT63');
</script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= display_meta_tags(default_meta_tags)%>
<meta name="google-site-verification" content="Jwkc8QQxTuykHmvu2KUois9u-LYpg0bVFa3EZ4BUnrc" />
  </head>

  <body>
    <%= yield %>
  </body>

</html>
